.idea
.gradle
app/build
app_discover/build
app_gms/build
app_go/build
module_bokeh/build
module_bokeh/.cxx
module_dehaze/build
module_dehaze/.cxx
module_eglfence/build
module_eglfence/.cxx
module_facedetector/build
module_facedetector/.cxx
module_filtershow/build
module_filtershow/.cxx
module_gallerycommon/build
module_imageblendings/build
module_imageblendings/.cxx
module_jpegstream/build
module_jpegstream/.cxx
module_smarterase/build
module_smarterase/.cxx
out/